@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.woff2');
	src: url('../fonts/OpenSans-Light.woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-LightItalic.woff2');
	src: url('../fonts/OpenSans-LightItalic.woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2');
	src: url('../fonts/OpenSans-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2');
	src: url('../fonts/OpenSans-SemiBold.woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cinzel Decorative';
	src: url('../fonts/CinzelDecorative-Regular.woff2');
	src: url('../fonts/CinzelDecorative-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cinzel Decorative';
	src: url('../fonts/CinzelDecorative-Bold.woff2');
	src: url('../fonts/CinzelDecorative-Bold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lime light';
	src: url('../fonts/Limelight-Regular.woff2');
	src: url('../fonts/Limelight-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2');
	src: url('../fonts/Inter-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}