<footer class="footer">
	<div class="container">
		<div class="footer__main">
			<div class="footer__box">
				<a class="logo footer__logo" href="#">
					<img src="images/svg/desktop-logo.svg" alt="Our company logo">
				</a>
				<p class="footer__text">
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
					some form, by injected humour
				</p>
				<div class="footer__contacts">
					<a class="footer__link" href="#">
						<svg>
							<use xlink:href="images/sprite.svg#facebook"></use>
						</svg>
					</a>
					<a class="footer__link" href="#">
						<svg>
							<use xlink:href="images/sprite.svg#instagram"></use>
						</svg>
					</a>
					<a class="footer__link" href="#">
						<svg>
							<use xlink:href="images/sprite.svg#twitter"></use>
						</svg>
					</a>
					<a class="footer__link" href="#">
						<svg>
							<use xlink:href="images/sprite.svg#linkedIn"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="footer__info-wrap">
				<div class="footer__info">
					<h2 class="footer__title">Working Hours</h2>
					<ul class="footer__list list-reset">
						<li class="footer__list-item">
							<h3 class="footer__list-title">Sunday - Thursday</h3>
							<span class="footer__list-subtitle">08:00 am - 09:00pm</span>
						</li>
						<li class="footer__list-item">
							<h3 class="footer__list-title">Only Friday</h3>
							<span class="footer__list-subtitle">03:00 pm - 09:00pm</span>
						</li>
						<li class="footer__list-item">
							<h3 class="footer__list-title">Saturday</h3>
							<span class="footer__list-subtitle">Closed</span>
						</li>
					</ul>
				</div>
				<div class="footer__info">
					<h2 class="footer__title">Contact Us</h2>
					<ul class="footer__list list-reset">
						<li class="footer__list-item">
							<h3 class="footer__list-title">Location :</h3>
							<span class="footer__list-subtitle">55 Main Street, New York</span>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="mailto:kaffendev@gmail.com">
								<h3 class="footer__list-title">Email Address :</h3>
								<span class="footer__list-subtitle">kaffendev@gmail.com</span>
							</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="tel:+01234567899">
								<h3 class="footer__list-title">Phone Number :</h3>
								<span class="footer__list-subtitle">+012 (345) 678 99</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<span class="footer__copy">© Copyright 2022 | KAFFEN | All right reserved.</span>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>
</body>

</html>