<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kafeen</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header__inner">
				<a class="logo header__logo" href="#">
					<picture>
						<source srcset="images/svg/mobile-logo.svg" media="(max-width: 1024px)">
						<img src="images/svg/desktop-logo.svg" alt="Our company logo">
					</picture>
				</a>
				<div class="header__box">
					<nav class="nav" title="Main menu">
						<ul class="nav__list list-reset">
							<li class="nav__item"><a class="nav__link nav__link--active" href="#">HOME</a></li>
							<li class="nav__item"><a class="nav__link" href="#">ABOUT</a></li>
							<li class="nav__item"><a class="nav__link" href="#">MENU</a></li>
							<li class="nav__item"><a class="nav__link" href="#">PAGES</a></li>
							<li class="nav__item"><a class="nav__link" href="#">BLOG</a></li>
							<li class="nav__item"><a class="nav__link" href="#">SHOP</a></li>
							<li class="nav__item"><a class="nav__link" href="#">CONTACTS</a></li>
						</ul>
					</nav>
					<a class="header__btn-link secondary-btn" href="#">BOOK A TABLE</a>
				</div>
				<button class="burger" aria-label="Open menu" aria-expanded="false">
					<span class="burger__line"></span>
				</button>
			</div>
		</div>
	</header>